# File: keda-scaledobject.yml
---
apiVersion: keda.sh/v1alpha1
kind: TriggerAuthentication
metadata:
  name: keda-demo-trigger-auth-gcp-credentials
  namespace: default
spec:
  podIdentity:
    provider: gcp

---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: keda-demo-pubsub-scaledobject
  namespace: default
spec:
  scaleTargetRef:
    name: keda-demo               # ← ONLY name is allowed here
  pollingInterval: 2
  cooldownPeriod: 20
  minReplicaCount: 0
  maxReplicaCount: 10
  idleReplicaCount: 0
  triggers:
  - type: gcp-pubsub
    authenticationRef:
      name: keda-demo-trigger-auth-gcp-credentials   # ← ONLY name, no namespace here
    metadata:
      subscriptionName: keda-demo-topic-subscription
      value: "1"                  # scale up when ≥1 unacked messages